[Unit]
Description=Last Partition Auto-Resizer

[Service]
Environment=TERM=linux
Type=oneshot
ExecStart=/usr/sbin/xsce-expand-last.sh
StandardError=syslog
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
